div .main-content {
    width: 95%;
    height: 100em;
    border:2px solid black;
    margin: auto;
}
div .header {
    width: 100%;
    height: 5em;
    border:1px solid blue;
}
div .welcome {
    width: 100%;
    height: 35em;
    border:1px solid cornflowerblue;
}
div .passenger {
    width: 48%;
    height: 33em;
    float: left;
    border:1px solid olivedrab;
    margin-top: 15px;
    margin-left: 18px;
}
div .driver {
    width: 48%;
    height: 33em;
    float: left;
    border:1px solid olivedrab;
    margin-top: 15px;
    margin-left: 18px;
}
div .footer {
    width: 100%;
    height: 6em;
    border:1px solid darkred;
}